## See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
## =======================================================================================
## =======================================================================================
/app-configs/*.json
/apps-configs/*.json


## Project Ignores || Env Variables
## =======================================================================================
## =======================================================================================
.env*


## Project Ignores || Build Excludes
## =======================================================================================
## =======================================================================================
out/
dist/
build/


## Project Ignores || Bundle Excludes
## =======================================================================================
## =======================================================================================
.next
.nuxt
.build
.cache
.vercel
.serverless
.turbo


## Project Ignores || Package Directories
## =======================================================================================
## =======================================================================================
typings/
coverage/
certificates/
node_modules/
jspm_packages/


## Project Ignores || Editor Cache
## =======================================================================================
## =======================================================================================
.pnp
.pnp.js
.npm
.yarn
.expo
.idea
.init
.swc
.fleet
.grunt
.vscode
.parcel-cache/
.eslintcache
.stylelintcache


## Project Ignores || Generated Files
## =======================================================================================
## =======================================================================================
._*
.Trashes
.DS_Store
.Spotlight-V100
Thumbs.db
dist-ssr


## Project Ignores || Diagnostic Reports
## =======================================================================================
## =======================================================================================
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


## Project Ignores || Log Files
## =======================================================================================
## =======================================================================================
*.log
logs/
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
pnpm-error.log*
lerna-debug.log*
lerna-error.log*
bun-debug.log*
bun-error.log*
storybook.log*


## Project Ignores || Runtime data
## =======================================================================================
## =======================================================================================
pids/
*.pid
*.seed
*.pid.lock
*.pem


## Project Ignores || Typescript Files
## =======================================================================================
## =======================================================================================
*.tsbuildinfo
next-env.d.ts


## Project Ignores || Lint & Cache Files
## =======================================================================================
## =======================================================================================
.cache/
eslintcache
stylelintcache


## Project Ignores || VS Code Recommended Exceptions
## =======================================================================================
## =======================================================================================
!.vscode/extensions.json


## Project Ignores || Erroneous files
## =======================================================================================
## =======================================================================================
*.ntvs*
*.njsproj
*.tgz
*.sln
*.sw?
